* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	margin-bottom: 10px;
}

.tabs-container {
	padding: 10px;
	font-family: Arial;
}

.tab-container {
	font-size: 0;
}

.tab-header {
	font-size: 16px;
	display: inline-block;
	padding: 10px;
	border: solid 1px black;
	border-right: none;
	border-bottom: none;
	cursor: pointer;
}

.tab-header:last-of-type {
	border-right: solid 1px black;
}

.text-container {
	border: solid 1px black;
}

.tab-content {
	padding: 10px;
}

.text-container .red.show {
	display: block;
}

.text-container .green.show {
	display: block;
}

.text-container .blue.show {
	display: block;
}

.text-container .red {
	display: none;
}

.text-container .green {
	display: none;
}

.text-container .blue {
	display: none;
}

.red:hover {
	color: white;
	background: red;
}

.green:hover {
	color: white;
	background: green;
}

.blue:hover {
	color: white;
	background: blue;
}